body{

    background:#ececec;

    font-family:Arial, Helvetica, sans-serif;
}

.logo{

    width:170px;
}

.titulo{

    font-size:40px;

    font-style:italic;

    font-weight:bold;
}

.etiqueta{

    font-size:28px;

    font-weight:bold;

    font-style:italic;
}

.selector{

    margin-top:10px;

    width:310px;

    height:50px;

    border-radius:30px;

    border:3px solid dodgerblue;

    font-size:24px;

    font-style:italic;

    font-weight:bold;
}

.boton{

    background:#d7edf0;

    border:none;

    border-radius:30px;

    height:46px;

    font-size:24px;

    font-style:italic;

    font-weight:bold;
}

.boton:hover{

    background:#c3e3e8;
}

.tabla{

    background:#d9d9d9;

    text-align:center;
}

.link{
color: black;
text-decoration: none;
}

.tabla thead th{

    font-size:22px;

    font-style:italic;

    font-weight:normal;

    border:1px solid black;
}

.tabla tbody td{

    height:55px;

    border:1px solid black;
}
